

<div class="card linehrcard ">  <!-- contenedor col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 -->
    
    <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()"   class="form-control">

        <div class="card-body">
   
            <div class="col"> 
          <label for="nombre_label">Razon Social:</label>
      <input type="text"  formControlName="nombre" class="col mat-form-field"> 
       <button type="submit"  class="btn btn-success  mx-5">Buscar</button>
</div>
        </div> 
        <div *ngIf="formulario.controls.nombre.invalid && (formulario.controls.nombre.dirty || formulario.controls.nombre.touched)"class="text-danger">
            <div *ngIf="formulario.controls.nombre.errors?.['required']">
                El campo es requerido.
            </div>
        </div>
      
    </form>
    <table data-toggle="table" data-show-columns="true" class="table table-striped table-bordered table-responsive col-12">
        <thead>
        <tr>
        
        <th scope="col"> Razon Social</th>
        <th scope="col"> Telefono</th>
        <th scope="col"> Correo Electronico</th>
        <th scope="col"> Fecha Registro</th>
        <th scope="col"> Departamento</th>
        <th scope="col"> Nro Establecimientos</th>
        <th scope="col"> Estado</th>
        <th scope="col"> Acciones</th>
    </tr>
    </thead>
<tbody>
    <tr *ngFor="let l of lista | paginate: { itemsPerPage: 5, currentPage: page,
        totalItems: maxSize
     } " > 
       
        <td>{{l.nombre}}</td>
        <td>{{l.telefono}}</td>
        <td>{{l.correo_electronico}}</td>
        <td>{{l.fecha_registro}}</td>
        <td>{{l.nombre_departamento}}</td>
        <td>{{l.nroEst}}</td>
        <td><button class="btn btn-info" *ngIf="l.estado==1" (click)="actualizarestado(l)">Activo</button> 
            <button class="btn btn-light" *ngIf="l.estado==0" (click)="actualizarestado(l)">Inactivo</button>
        </td>
        <td>   
          

            <button  routerLink='/crear-comerciantes/{{ l.id_com }}/{{l.nroEst}}'
          type="button"
            class="btn  btn-lg btn-outline-primary">
        <i class="fa fa-pencil"></i>
    </button>

    <button  (click)="enviar(l)"   
    class="btn btn-lg btn-outline-warning">
<i class="fa fa-file"></i>
</button>

<button  (click)="download(l)"   
class="btn btn-lg btn-outline-secondary">
<i class="fa fa-download"></i>
</button>

            <button (click)="delete(l)"
            class="btn btn-lg btn btn-lg btn-outline-danger">
                <i class="fa fa-remove" aria-hidden="true"></i>

            </button>
        </td>
</tr>
</tbody>
</table>

<pagination-controls 
(pageChange)="handlePageChange($event)"
previousLabel="Aterior"
nextLabel="Siguiente" 
> 
</pagination-controls>

	<div>
       
    </div>
</div>

